{{! BEGIN-SNIPPET sprites-snippet.hbs }}
<div class="scenario-sprites clearfix" aria-label="Email Inbox Component Demo">
  <div class="top-bar">
    <button type="button" {{on "click" this.addItem}}>
      {{svg-jar "envelope" role="img" title="Check Mail" desc="An icon of an envelope"}}
    </button>
    <button type="button" {{on "click" this.deleteItems}}>
      {{svg-jar "trash" title="Delete Mail" desc="An icon of a trash can"}}
    </button>
    <div class="mail-buttons" aria-hidden>
      {{svg-jar "mail-reply"}}
      {{svg-jar "mail-reply-all"}}
      {{svg-jar "mail-forward"}}
    </div>
  </div>

  <AnimatedContainer>
    <div class="sidebar" aria-label="Mailboxes List" role="presentation">
      <table>
        <tbody>
          <th>Mail {{svg-jar "caret-down"}}</th>
          <tr>
            <td>{{svg-jar "inbox"}} Inbox ({{this.items.length}})</td>
          </tr>
          <tr>
            <td>{{svg-jar "paper-plane"}} Sent Mail</td>
          </tr>
          <tr>
            <td>{{svg-jar "edit"}} Drafts (3)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inbox" aria-label="Email Inbox" role="list">
      {{#animated-each this.items use=this.transition as |item|}}
        <div class="each-item" role="listitem">
          <input
            aria-label="toggle {{item.message}}"
            type="checkbox"
            checked={{item.deleteMessage}}
            {{on "change" (fn (mut item.deleteMessage) (not item.deleteMessage))}}
          >
          <div class="message">{{item.message}}</div>
          <div class="date">
            {{moment-format item.received "MMM D"}}
          </div>
        </div>
      {{/animated-each}}
    </div>
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}
